<!DOCTYPE html>
<html>
<head>
	<title>otra pagina</title>
	<link rel="stylesheet" type="text/css" href="../lib/semantic-ui/semantic.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="../lib/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript" src="../lib/handlebars/handlebarsv4.js"></script>
	<script type="text/javascript" src="../js/helper.js"></script>
	<script type="text/javascript" src="../js/coleccion.js"></script>
	<script type="text/javascript" src="../js/pagina2.js"></script>
</head>
<body>
	<div id="result">
		<div id="contenido"></div>
		<div id="contenido2"></div>
	</div>
	<button id="cargar">cargar</button>
</body>
</html>